html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f3f4f6; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

button { padding: 8px 12px; cursor: pointer; }
input { padding: 6px; margin-top: 4px; }

.team-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.app-container {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  min-width:fit-content
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0; /* keeps it stuck at the top so can always see it  PLEASE DO NOT REMOVE -wyatt */
  z-index: 20;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 3px solid #e6b800;
  text-align: right;
  padding-bottom: 20px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  padding-right: 300px;
  align-items: center; /* makes buttons not insanely large DO NOT REMOVE -wyatt */
  justify-content: space-between;
}

/* Title*/
.nav-title {
  font-size: 50px;
  font-weight: 1000; /* bold letters */
  letter-spacing: 0.05;
  color: #043927;
  align-items: left;
  padding-left: 30px;
}

/* Navigation Buttons */
.nav-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  gap: 30px;
  margin-top: 10px;
}

.nav-btn {
  min-width: 100px;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: bold;
  border: 2px solid transparent;
  background: #ffffff;
  color: black;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* Hover over and it transforms makes it look cool - wyatt */
.nav-btn:hover {
  background: #e6b800;
  color: white;
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

/* Active page button when the page is up the button changes so users can know -wyatt */
.nav-btn.active {
  background: #065f46; /* green-800-ish */
  color: white;
  transform: scale(1.05);
  box-shadow: 0 5px 14px rgba(0,0,0,0.25);
}

/* Dropdown Container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Hidden content*/
.dropdown-content {
  display: none;
  position: absolute;
  background: white;
  min-width: 150px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  border-radius: 6px;
  z-index: 10;
  padding: 5px 0;
}

/* Dropdown buttons */
.dropdown-content button {
  width: 100%;
  padding: 10px;
  text-align: left;
  background: white;
  border: none;
  cursor: pointer;
}

/* Hover style for dropdown buttons */
.dropdown-content button:hover {
  background: #eee6c9;
  color: rgb(0, 0, 0);
}

/* Show menu when hovering */
.dropdown:hover .dropdown-content {
  display: block;
}